name: Process

on:
  push:
    branches:
      - main
      - master

jobs:
  release_drafter:
    name: Update release draft
    runs-on: ubuntu-24.04
    timeout-minutes: 3
    steps:
      - uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
